body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.halp-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halp-width img{
    width: 70%;
}