body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.halp{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.halp img{
    width: 50%;
    float: right;
}
.top-banner{
    background-image: url("top-banner2.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
